<!DOCTYPE html>
<html>
    <head>
        <!-- Our own style sheet -->
        <link rel="stylesheet" href="/static/css/calc.css" />
        {% if title %}
        <title>{{ title }} - Brevet Calculator</title>
        {% else %}
        <title>Welcome</title>
        {% endif %}
    </head>
    <body>
        <div>
            Brevet Calculator:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
