/*
 * Styles for ACP control calculator
 * (Fill in as desired)
 *
 * These should not conflict with bootstrap's CSS, but they may 
 * add more specific styles. 
 */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(41, 53, 53, 0.664);
    color: rgb(223, 223, 223);
}

.flashes {
    color: red;
    font-weight: bold;
}

